<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="wrapper">
    <%- partial('_partial/header') %>
    <div id="content">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
</body>
</html>
